<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkingDirectory</key>
	<string>{dir}</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/java</string>
		<string>-jar</string>
		<string>{path}</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>OnDemand</key>
	<true/>
	<key>Label</key>
	<string>{name}</string>
</dict>
</plist>
