*/.idea/
*/target/
*.sdf
Native/AutoStartOSX/AutoStartOSX.xcodeproj/project.xcworkspace/xcuserdata/tobias.xcuserdatad/UserInterfaceState.xcuserstate
Native/SystemUtilsOSX/SystemUtilsOSX.xcodeproj/project.xcworkspace/xcuserdata/tobias.xcuserdatad/UserInterfaceState.xcuserstate
